.elementor-41 .elementor-element.elementor-element-2926877 {
  margin-top: -30px;
  margin-bottom: 0
}

.elementor-41 .elementor-element.elementor-element-3952aad {
  --spacer-size: 30px
}

.elementor-41 .elementor-element.elementor-element-77e9f37 {
  margin-top: -30px;
  margin-bottom: 0
}

.elementor-41 .elementor-element.elementor-element-f74ec84 {
  margin-top: 0;
  margin-bottom: 0
}

.elementor-41 .elementor-element.elementor-element-6309109 {
  --spacer-size: 30px
}
